# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
tags
src/build_version.cc

# Examples
examples/make_config.mk
examples/db
examples/strings_example
examples/hashes_example
examples/sets_example

# Benchmark
benchmark/db
benchmark/blackwidow_bench

# Tests
tests/make_config.mk
tests/db
tests/main
tests/gtest_keys
tests/gtest_strings
tests/gtest_strings_filter
tests/gtest_hashes
tests/gtest_hashes_filter
tests/gtest_lists_filter
tests/gtest_sets
tests/gtest_zsets
tests/gtest_lists
tests/gtest_hyperloglog
tests/lock_mgr
